@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&display=swap');

.container {
  padding: 36px;
}

.form {
  margin-top: 100px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 16px;
}

.formInput {
  border-radius: 5px;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  font-family: Karla, sans-serif;
}

.button {
  grid-column: 1 / -1;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  background-color: #F55A5A;
  font-family: Karla, sans-serif;
}

.memeImg {
  max-width: 100%;
  margin-top: 16px;

}

.center {
  display: flex;
  justify-content: center;
}
